[submodule "LaneLinesFinder"]
	path = LaneLinesFinder
	url = https://github.com/georgosgeorgos/LaneLinesFinder
[submodule "TrafficSignsClassifier"]
	path = TrafficSignsClassifier
	url = https://github.com/georgosgeorgos/TrafficSignsClassifier
[submodule "BehavioralCloning"]
	path = BehavioralCloning
	url = https://github.com/georgosgeorgos/BehavioralCloning
[submodule "AdvLaneLinesFinder"]
	path = AdvLaneLinesFinder
	url = https://github.com/georgosgeorgos/AdvLaneLinesFinder
[submodule "VehiclesDetector"]
	path = VehiclesDetector
	url = https://github.com/georgosgeorgos/VehiclesDetector
